nav {
  background-color: var(--code-bg);
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
}
.nav-element {
  text-decoration: none;
  color: var(--text-h);
  font-weight: bold;
}

.nav-element:hover {
  color: var(--accent);
}

.select {
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

.submit-button {
  background-color: var(--text);
  color: white;
  border: none;
  border-radius: 10%;
  padding: 5px 10px;
  font-size: bold;
}

.submit-button:hover {
  background-color: var(--accent);
  color: black;
}
